
body {
background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%);

}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

.tableFixHead {
  overflow: auto;
  height: 400px;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  background-color: #b0c7ba;
}

.onplay {
  border-right: solid 1px;
  border-left: solid 2px;
  border-bottom: 0 !important;
  border-top: 0 !important;
  color: #007bff;
}

td {
  cursor: pointer;
  word-break: break-all;
}

.nav-tabs {
  border-bottom: 0 !important;
}

.nav-item {
  cursor: pointer;
}

.nav-link {
 color:  #6c757d;
}

.active  {
    color: #007bff !important; 
}

.top-buffer { 
  margin-top:20px; 
}

.top-progress { 
  margin-top:5px; 
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-sm {
  width: 35px;
  height: 35px;
  padding: 10px 12px;
  font-size: 10px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

progress {
  border-radius: 2px; 
  width: 100%;
  height: 22px;
  border-style: none;
  cursor: pointer;
}
progress::-webkit-progress-bar {
-webkit-appearance: none;
appearance: none;
background-color: #f2f1f0;

}
progress::-webkit-progress-value {
border-radius: 2px;
background-color: #17a2b8;

}
progress::-moz-progress-bar {
  background-color: #17a2b8;
  border-radius: 2px;
}

button{
  margin: 14px;
}

.fa-bars {
  color: black !important;
}

.blink {
  animation: blinking 3s linear infinite;
}

@keyframes blinking {
  50% {
    opacity: 0;
  }
}

.modalLayer{
  overflow: auto;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  }
    #confirmation:target{
  display: block;
  }

  .popupBlock{
  position: relative;
  margin: 5% auto;
  width: 60%;
  box-shadow: 0px 0px 20px #000;
  border-radius: 5px;
  }

  .croix{
  float: right;
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size:1em;
  margin:0;
  }

